<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rcloud.server.sealtalk.dao.VerificationViolationsMapper">
  <resultMap id="BaseResultMap" type="com.rcloud.server.sealtalk.entity.VerificationViolations">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select * from verification_violations where ip = #{ip}
  </select>

  <insert id="insert" parameterType="com.rcloud.server.sealtalk.entity.VerificationViolations">
    INSERT INTO verification_violations (ip, `time`, `count`)
    VALUES (#{ip}, #{time}, #{count})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.rcloud.server.sealtalk.entity.VerificationViolations">
    UPDATE verification_violations
    <set>
      <if test="time != null">
        `time` = #{time},
      </if>
      <if test="count != null">
        `count` = #{count},
      </if>
    </set>
    WHERE ip = #{ip}
  </update>
</mapper>