<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rcloud.server.sealtalk.dao.WhiteListMapper">
  <resultMap id="BaseResultMap" type="com.rcloud.server.sealtalk.entity.WhiteList">
    <result column="region" jdbcType="INTEGER" property="region" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>

  <select id="exist" resultType="int" >
    select count(*) as num from white_list where region= #{region} and phone = #{phone} and `type` = #{type}
  </select>

  <insert id="insert">
    insert ignore into white_list (region,phone,type) values (#{region},#{phone},#{type})
  </insert>

  <delete id="delete">
    delete from white_list where region= #{region} and phone = #{phone} and `type` = #{type}
  </delete>

  <select id="queryByType" resultMap="BaseResultMap">
    select * from white_list where type= #{type} order by id desc
  </select>

</mapper>